// Body
$body-bg: #f8fafc;

// Typography


// Colors
$white: #fff;
$grey: #FBFBFB;
$light-green: #46A35819;
$medium-green: #46A3587F;
$green: #46A358;
$text_dark: #3D3D3D;
$text_light: #727272;
$text_green: #46A358;

