.blog {
  //height: 447px;
  margin-top: 108px;
  max-width: 1200px;
  width: 100%;
  @media screen and (max-width: 750px) {
    display: none;
    }
}

.blog__container {
  //height: 447px;
  max-width: 1202px;
  margin: 0px 0 0px 0;
}

.blog__content {
  height: 447px;
}

.blog__title {
  margin-bottom: 15px;

  text-align: center;

  color: #3D3D3D;

  font-size: 30px;
  font-weight: 700;
  line-height: 16px; 

  @media screen and (max-width: 999px) {
    font-size: 40px;
    }
}

.blog__subtitle {
  margin-bottom: 35px;

  text-align: center;

  color: #727272;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  @media screen and (max-width: 999px) {
    font-size: 18px;
    margin-top: 27px;
    }
}

.blog__row {
  display: flex;
  justify-content: space-between;
}

.blog__column {
  background-color: #FBFBFB;
}

.blog__column-hide {
  @media screen and (max-width: 999px) {
    display: none;
    }
}

.blog__columnLeft {
  @media screen and (max-width: 999px) {
    margin-left: 75px;
    }
}

.blog__columnRight {
  @media screen and (max-width: 999px) {
    margin-right: 75px;
    }
}

.item-blog__icon {
  // width: 195.1px;
  margin-bottom: 8.83px;
}

.item-blog__arrow {
  margin-left: 3px;
}

.item-blog__date {
  margin-bottom: 4px;

  color: #46A358;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  @media screen and (max-width: 999px) {
    font-size: 18px;
    }
}

.item-blog__title {
  width: 189px;
  margin-bottom: 4px;

  color: #3D3D3D;

  font-size: 20px;
  font-weight: 700;
  line-height: 26px;

    @media screen and (max-width: 999px) {
      width: 229px;
      font-size: 24px;
      margin-top: 5px;
      }

}

.item-blog__subtitle {
  width: 242px;
  margin-bottom: 9px;

  color: #727272;

  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

  @media screen and (max-width: 999px) {
    width: 282px;
    font-size: 18px;
    margin-top: 5px;
    }
}

.item-blog__read {
  display: flex;
  align-items: center;

  transition: 0.2s ease-in;

  color: #3D3D3D;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  &:hover {
    color: #46A358;
  }
  
  @media screen and (max-width: 999px) {
    font-size: 18px;
    margin-top: 2px;
    }
}

.item-blog__read a {
  display: flex;
  align-items: center;

  transition: 0.2s ease-in;

  &:hover {
    color: #46A358;
  }
}

