.footer {
  max-width: 1200px;
  width: 105%;
  //height: 361px;
  margin-top: 32px;
  margin-left: -20px;

  @media screen and (max-width: 750px) {
    margin-left: 0px;
    }
}
.footer__container {
  //height: 361px;
  max-width: 1200px;
  //margin-top: 92.23px;
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 1200px;

  height: 87.62px;
  margin: 0 auto 0 auto;

  background-color: rgba(70, 163, 88, 0.10);

  @media screen and (max-width: 750px) {
    height: 18vh;
    width: 104%;
    }
}

.footer__top-cut {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 933px;
  margin-left: 27px;

  flex-wrap: wrap;

  @media screen and (max-width: 999px) {
    width: 1055px;
    }
    @media screen and (max-width: 750px) {
      // width: 1120px;
      gap: 10px;
      margin-left: 20px;
    }
}

.footer__logo {
  @media screen and (max-width: 750px) {
    width: 43%;
    }
}

.footer__logo img {
  @media screen and (max-width: 750px) {
    height: 42px;
    }
}

.footer__address {
  display: flex;
  // justify-content: space-between;

  width: 200px;

  @media screen and (max-width: 999px) {
    width: 250px;
    }

    @media screen and (max-width: 750px) {
      // width: 171px;
      width: 52%;
      }
}

.footer__address img {
  margin-right: 10px;
  @media screen and (max-width: 750px) {
    width: 20px;
    height: 40px;
    margin-right: 10px;
    }
}

.footer__adress-text {
  width: 170px;
  height: 36.81px;

  color: #3D3D3D;

  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

  @media screen and (max-width: 999px) {
    font-size: 16px;
    width: 220px;
    }

    @media screen and (max-width: 750px) {
      width: 270px;
      font-size: 11px;
      margin-top: 7px;
      }
}

.footer__mail {
  display: flex;

  color: #3D3D3D;

  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

  column-gap: 10px;
  @media screen and (max-width: 999px) {
    font-size: 16px;
    }

    @media screen and (max-width: 750px) {
      font-size: 11px;
      }
}

.footer__mail img {
  @media screen and (max-width: 750px) {
    width: 24px;
    height: 28px;
    }
}

.footer__number {
  display: flex;

  color: #3D3D3D;

  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

  column-gap: 8px;

  @media screen and (max-width: 999px) {
    font-size: 16px;
    }

    @media screen and (max-width: 750px) {
      font-size: 11px;
      // width: 170px;
      width: 52%;
      }
}

.footer__number img{
  @media screen and (max-width: 750px) {
    width: 24px;
    height: 28px;
    }
}

.footer__main {
  width: 1200px;
  height: 236px;
  margin: 0 auto;

  border-bottom: .3px solid rgba(70, 163, 88, 0.20);
  background-color: #FBFBFB;

  @media screen and (max-width: 999px) {
    height: 126px;
  }

  @media screen and (max-width: 750px) {
    margin-bottom: 10px;
    width: 100%;
    height: 10%;
    }
}

.footer__content {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 100%;

  padding: 32px 155px 0 23px;

  @media screen and (max-width: 750px) {
    padding: 0px;
    margin-bottom: 10px;
    margin-top: 15px;
    }
}

.footer__nav {
  display: flex;
  justify-content: space-between;

  width: 625px;
  height: 174px;

  @media screen and (max-width: 999px) {
    display: none;
  }
}

.footer-nav__list li {
  margin-bottom: 18px;
  
}

.footer__title {
  // line-height: 16px;
  margin-bottom: 17px;

  color: #3D3D3D;

  font-size: 18px;
  font-weight: 700;

  @media screen and (max-width: 999px) {
    font-size: 26px;
    // text-align: center;
    margin-bottom: 3px;
  }

  @media screen and (max-width: 750px) {
    font-size: 26px;
    margin-bottom: 5px;
    text-align: center;
    }

}

.footer__text {
  color: #3D3D3D;

  font-size: 14px;
  font-weight: 400;
  line-height: 12px;
}

.footer__right {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 999px) {
    width: 820px;
    justify-content: space-between;
    margin-left: 10%;
    flex-direction: row;
  }
  @media screen and (max-width: 750px) {
    width: 80%;
    flex-direction: column;
  }
}

.footer__media {
  margin-bottom: 32px;
  @media screen and (max-width: 750px) {
    width: 100%;
  }
}

.footer__social {
  display: flex;
  justify-content: space-between;

  width: 190px;

  @media screen and (max-width: 999px) {
    width: 330px;
  }

  @media screen and (max-width: 750px) {
    width: 100%;
    }
}

.footer__button {
  width: 30px;
  height: 30px;

  cursor: pointer;

  color: white;
  border: 1px solid rgba(70, 163, 88, 0.20);  
  border-radius: 4px;
  outline: none;

  @media screen and (max-width: 999px) {
    width: 40px;
    height: 40px;
  }
}

.footer__button img {
  @media screen and (max-width: 999px) {
    width: 25px;
    height: 25px;
    }

    @media screen and (max-width: 750px) {
      width: 25px;
      height: 25px;
      }
}

.footer__payment {
  @media screen and (max-width: 750px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }
}

.footer__payment img {
  @media screen and (max-width: 999px) {
    width: 285px;
    height: 40px;
    }
}

.footer__copyright {
  height: 45px;
  padding-top: 5px;

  @media screen and (max-width: 750px) {
    height: 150px;
    }
}

.footer__copyright span {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #3D3D3D;

  font-size: 14px;
  font-weight: 400;
  line-height: 30px; /* 214.286% */

  
}

.footer__copyright span {
  text-align: center;

  color: #3D3D3D;

  font-size: 14px;
  font-weight: 400;
  line-height: 30px; /* 214.286% */

  @media screen and (max-width: 999px) {
    font-size: 16px;
    }

    @media screen and (max-width: 750px) {
      font-size: 16px;
      }
}


#footer__accept_text {
  margin-bottom: 10px;
}